.application-layout-container {
  display: flex;
  gap: 16px;
  align-items: stretch;
  height: calc(100vh - 80px);
  overflow: hidden;
  padding: 0 20px;
  box-sizing: border-box;
}

.application-status-sidebar {
  width: 200px;
  background: #fff;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.application-filter-btn {
  background: transparent;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
  color: #111;
  font-weight: 500;
}

.application-filter-btn.active {
  background-color: #3b82f6;
  color: white;
  border-color: #3b82f6;
}

/* Wrapper bảng + phân trang */
.application-list-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 24px;
  padding: 20px;
  font-family: "Product Sans", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

.application-list-table {
  min-width: 900px;
  overflow-y: auto;
  flex: 1;
}

.application-list-header,
.application-list-row {
  display: grid;
  grid-template-columns: 250px 150px 150px 200px 150px 200px;
  gap: 10px;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.application-header-cell {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  word-break: break-word;
}

.application-list-cell {
  font-size: 16px;
  text-align: center;
  word-break: break-word;
}

.application-list-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-top: 16px;
  border-top: 1px solid #eee;
  gap: 6px;
  flex-wrap: wrap;
}

.application-list-pagination-btn {
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  min-width: 36px;
  line-height: 1.2;
  color: #111;
  font-weight: 500;
}

.application-list-pagination-btn:disabled {
  color: #aaa;
  cursor: not-allowed;
}

.application-list-pagination-active {
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  border-color: #3b82f6;
}
.application-list-action-button {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.application-list-view-button {
  background-color: #3b82f6;
  color: white;
  border-color: #3b82f6;
}

.application-list-cancel-button {
  background-color: #ef4444;
  color: white;
  border-color: #ef4444;
}
