.employee-table-wrapper {
  max-width: 100%;
  background-color: #fff;
  border-radius: 24px;
  padding: 20px;
  font-family: "Product Sans", sans-serif;
  word-wrap: break-word;
}

.employee-table {
  min-width: 1900px;

}

.employee-table-header,
.employee-table-row {
  display: grid;
  grid-template-columns:
    200px /* mã NV */
    150px /* tài khoản */
    180px /* họ tên */
    100px /* giới tính */
    150px /* ngày sinh */
    150px /* nơi sinh */
    150px /* quốc tịch */
    200px /* địa chỉ */
    150px /* ngày vào cty */
    150px /* sđt */
    150px /* phòng ban */
    150px /* line */
    150px; /* vị trí */
  gap: 10px;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 6px;

}

.employee-header-cell {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-overflow: ellipsis;
  white-space: normal; /* ✅ Cho phép xuống dòng */
  word-break: break-word; /* ✅ Bẻ từ nếu dài quá */


}

.employee-table-cell {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  word-break: break-word;
  white-space: normal;

}
