.jobs-table-wrapper {
  overflow-x: auto;
  max-width: 100%;
  background-color: #fff;
  border-radius: 24px;
  padding: 20px;
  font-family: "Product Sans", sans-serif;
}

.jobs-table {
  min-width: 1800px;
}

.jobs-table-header,
.jobs-table-row {
  display: grid;
  grid-template-columns:
    120px 180px 180px 180px 150px 150px 200px 150px
    200px 200px 150px 200px 300px;
  gap: 10px;
  padding: 18px 30px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.jobs-header-cell {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  max-height: 24px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jobs-table-cell {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  word-break: break-word;
  white-space: normal;
}

.jobs-viewdetail-button {
  background-color: #486df0;
  color: #fff;
  padding: 6px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}
