.layout-container {
  min-height: 100vh;
  font-family: "Product Sans", sans-serif;
  background-color: #e3edf9;
}

@media (min-width: 768px) {
  .main-content {
    margin-left: 250px; 
  }
}

.main-content {
  padding: 0;
  overflow-x: hidden;
}

.content-wrapper {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
}