.layout-container {
  display: flex;
  min-height: 100vh;
  font-family: "Product Sans", sans-serif;
  background-color: #e3edf9;
}

.main-content {
  margin-left: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow-x: hidden;
}

.content-wrapper {
  flex: 1;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}
