.employee-table-wrapper {
  overflow-x: auto;
  max-width: 100%; /* Ngăn vượt ngoài trang */
  background-color: #fff;
  border-radius: 24px;
  padding: 20px;
}

.employee-table {
  min-width: 1800px; /* Đặt giá trị lớn đủ để tạo scroll trong bảng */
}

.employee-table-header,
.employee-table-row {
  display: grid;
  grid-template-columns:
    120px 180px 100px 150px 150px 150px 200px 150px
    150px 150px 150px 150px 150px 120px;
  gap: 10px;
  padding: 12px 0;
}

.employee-header-cell {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.employee-table-cell {
  font-size: 15px;
  text-align: center;
  word-break: break-word;
}

.employee-actions-wrapper {
  position: relative;
}

.employee-actions-button {
  background-color: #253d90;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.employee-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #253d90;
  border-radius: 6px;
  margin-top: 5px;
  width: 150px;
  z-index: 10;
}

.employee-dropdown-item {
  color: #fff;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.employee-dropdown-item:hover {
  background-color: #1a2b6c;
}

.employee-dropdown-divider {
  height: 1px;
  background: #fff;
  margin: 0;
}
